body {
    background-color: rgb(138, 228, 255);
    align-items: center;
    justify-content: center;
  }

#show_button {
    margin: auto;
    width: 50px;
  }

#digital_clock {
    display: none;
    font-family: "Orbitron", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 56px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

#clock {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
  }
  
.handles {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    position: absolute;
    transform-origin: bottom;
}

#hour {
    font-size: 25px;
    height: 25%;
    top: 25%;
    left: 50%;
}
 
#minute {
    font-size: 20px;
    height: 30%;
    top: 20%;
    left: 50%;
}
 
#second {
    font-size: 15px;
    height: 40%;
    top: 10%;
    left: 50%;
    
}